<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>CallbackServlet</servlet-name>
		<servlet-class>com.stealthmountain.CallbackServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SigninServlet</servlet-name>
		<servlet-class>com.stealthmountain.SigninServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SignoutServlet</servlet-name>
		<servlet-class>com.stealthmountain.SignoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SetupServlet</servlet-name>
		<servlet-class>com.stealthmountain.SetupServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CheckSigninServlet</servlet-name>
		<servlet-class>com.stealthmountain.CheckSigninServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchAndRespondServlet</servlet-name>
		<servlet-class>com.stealthmountain.SearchAndRespondServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ForeachSearchAndRespondServlet</servlet-name>
		<servlet-class>com.stealthmountain.ForeachSearchAndRespondServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TriggerForeachSearchAndRespondServlet</servlet-name>
		<servlet-class>com.stealthmountain.TriggerForeachSearchAndRespondServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CallbackServlet</servlet-name>
		<url-pattern>/callback</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SigninServlet</servlet-name>
		<url-pattern>/signin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignoutServlet</servlet-name>
		<url-pattern>/signout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SetupServlet</servlet-name>
		<url-pattern>/setup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckSigninServlet</servlet-name>
		<url-pattern>/checkSignin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchAndRespondServlet</servlet-name>
		<url-pattern>/tasks/searchAndRespond</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForeachSearchAndRespondServlet</servlet-name>
		<url-pattern>/tasks/foreachSearchAndRespond</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TriggerForeachSearchAndRespondServlet</servlet-name>
		<url-pattern>/cron/triggerForeachSearchAndRespond</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>checkSignin</welcome-file>
	</welcome-file-list>
	<security-constraint>
        <web-resource-collection>
			<web-resource-name>task servlets</web-resource-name>
            <url-pattern>/tasks/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>cron servlets</web-resource-name>
			<url-pattern>/cron/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
</web-app>
